.pagination {
    background-color: rgba(0,0,0,0.7);
    padding: 0 10px 2px 10px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.bullet {
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 1px solid grey;
    border-radius: 50%;
    cursor: pointer;
    &.active {
        background-color: grey;
        cursor: default;
    }
    &:not(:last-child) {
        margin-right: 4px;
    }
}